body{
    font-family: 'Fredoka';
    background-color: #BEDC74;
    color: #00712D;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.imageIcon{
    width: 150px;
    height: 150px;
}

.mainDiv{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navLinks{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-weight: 500;
}

.formMain{
    width: 30%;
    margin: auto;
}
.formH1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

.formDiv{
    margin: 20px 0;
    font-size: large;
    font-weight: 500;
    gap: 10px
}

.formBTN{
    text-align: center;
    padding: 5px 10px;
    justify-content: center;
    font-weight: 600;
    border-radius: 2px;
    background-color: #00712D;
    cursor: pointer;
    color: #00712D ;
    font-weight: bold;
}

.formInput{
    padding: 7px 10px;
    color: #00712D;
    background-color: #B6FFA1;
}